body{
    pos
    border: 10px solid black;
    width: 1260px;  /*1260px+20px=1280px*/
    height: 780px;  /*780px+20=800px*/
    background-color: blanchedalmond;
    margin: auto;
}
#camasArriba>label{
    display: inline-block;
    padding-left: 10px;
    padding-top: 2px;
    width: 90px;       /*90px +10px piz*/
    height: 298px;     /*298px +2px ptop*/ /* Se la debo poner a los label ya que si sumas los alto suman 900px*/
    margin:20px 40px;
    background-color: rgb(214, 60, 60);
}
#camasDebajo>div{
    background-color: rgb(214, 60, 60);
    width: 90px;
    padding-left: 10px;
    padding-top: 2px;
    margin:20px 40px;
    float: right;
}
#camasArriba{
    position: relative;
    text-align: center;
    width: 800px;
    margin-bottom: 180px;
    background-color: aqua;
    float: right;
}
#camasDebajo{
    position: relative;
    text-align: center;
    background-color: blueviolet;
    overflow: hidden;
    float: right;
}
#grunion{
    float: right;
    position: relative;
    top: 200px;/*Lo utilizo para sacar el restante entre el espacio disponible y el tamaño de la cama*/
    z-index: 100;
}
#timido{
    position: relative;
    z-index: -1;
}
#camasDebajo>div::first-letter {
    font-size: 35px;
    font-style: italic;
}
#camasArriba>label::first-letter{
    font-size: 35px;
    font-style: italic;
}
#camasDebajo>div:nth-child(even) {
    background-color: #F1FEE3;
}
#camasArriba>label:nth-child(even) {
    background-color: #F1FEE3;
}
#camasArriba>#grunion:nth-child(2){
    background-color: #3b0aee;
}